<div class="top">
    <h1>Eat-Da-Burger!</h1>
    <img id="burger" src="/assets/img/burger.png" alt="">


    <div class="add_bar">
        <input id="burgerName" type="text" placeholder=" Add Yummy Burger!"><button id="submit_btn"><i
                class="fa fa-plus" aria-hidden="true"></i></button>
    </div>



    <table>
        {{#each burgers}}
        {{#unless devoured}}
        <tr class="avail">
            <th>{{id}}.</th>
            <th class="mid">{{burger_name}}</th>
            <th><button class="eat-burger" data-id="{{id}}">
                    <img src="/assets/img/eat.png" style="width: 30px; height: 30px;" alt=""></th>
            </button>
        </tr>
        {{/unless}}
        {{/each}}

    </table>

    <!-- eaten table -->

    <table>
        {{#each burgers}}
        {{#if devoured}}
        <tr class="gone">

            <th><strike>{{id}}.</strike></th>
            <th class="mid_gone"><strike>{{burger_name}}</strike></th>
        </tr>
        {{/if}}
        {{/each}}

    </table>
</div>
</div>